.section {
  position: relative;
  height: 100vh;
  overflow: hidden;
  background: #fffff0;
  opacity: 0;
}

.track {
  position: relative;
  display: flex;
  gap: 2rem;
  height: 100%;
  width: fit-content;
  align-items: center;
  padding-left: calc(50vw - 18rem);
  padding-right: 15vw;
}

.card {
  width: clamp(300px, 42vw, 580px);
  flex-shrink: 0;
}

@media (min-width: 800px) {
  .track {
    gap: 2.5rem;
    padding-left: calc(50vw - 20rem);
  }

  .card {
    width: clamp(360px, 32vw, 640px);
  }
}
