.section {
  position: relative;
  height: 100vh;
  overflow: hidden;
  background-color: transparent;
}

.track {
  position: relative;
  z-index: 10;
  display: flex;
  height: 100%;
  width: fit-content;
  gap: 1.5rem;
}

.slide {
  width: 48vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 1rem;
  flex-shrink: 0;
  position: relative;
}

.slide > .text-3d-float {
  position: absolute;
  top: 5rem;
  left: 50%;
  z-index: 20;
  pointer-events: none;
}
